Repository TamtamHero/fw-fanctrl, pull requests merged in 2025-03, with the labels that each got.

#116 Fix Linux Mint related incompatibilities
  README.md
  install.sh
  services/fw-fanctrl.service
  services/system-sleep/fw-fanctrl-suspend
Labels: bug

#118 Check for the presence of a `python` command
  install.sh
Labels: enhancement

#117 Update Packaging/nix
  .gitignore
  README.md
  doc/configuration.md
  flake.lock
  flake.nix
  install.sh
  nix/packages/fw-fanctrl.nix
  pyproject.toml
  src/fw_fanctrl/CommandParser.py
  src/fw_fanctrl/Configuration.py
  src/fw_fanctrl/FanController.py
  src/fw_fanctrl/__init__.py
  src/fw_fanctrl/__main__.py
  src/fw_fanctrl/_resources/config.json
  src/fw_fanctrl/_resources/config.schema.json
  src/fw_fanctrl/dto/command_result/ConfigurationReloadCommandResult.py
  src/fw_fanctrl/dto/command_result/PrintCurrentStrategyCommandResult.py
  src/fw_fanctrl/dto/command_result/ServiceResumeCommandResult.py
  src/fw_fanctrl/dto/command_result/SetConfigurationCommandResult.py
  src/fw_fanctrl/dto/command_result/StrategyChangeCommandResult.py
  src/fw_fanctrl/dto/command_result/StrategyResetCommandResult.py
  src/fw_fanctrl/dto/runtime_result/StatusRuntimeResult.py
  src/fw_fanctrl/exception/ConfigurationParsingException.py
  src/fw_fanctrl/exception/JSONException.py
  src/fw_fanctrl/hardwareController/EctoolHardwareController.py
Labels: packaging/nix

#120 add stable check + fix wrong config file location
  .github/workflows/nix-build-stable.yml
  .github/workflows/nix-build-unstable.yml
  nix/module.nix
Labels: packaging/nix
